{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>index</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'discover/add/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'discover/add/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="{% static 'discover/add/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'discover/add/css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">YOUR IMAGES</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'registration' %}">registration</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">

      <!--<img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">-->
      <h2 class="text-uppercase mb-0">Photo Repository</h2>
      <hr class="star-light">
      <div class="text-center mt-4">
        <button type="button" class="btn btn-xl btn-outline-light">save ,search ,see all</button>
      </div>
     
      <!--<div class="text-center mt-4">
        <button type="button" class="btn btn-xl btn-outline-light">SAVE</button>
      </div>
      <div class="text-center mt-4">
        <button type="button" class="btn btn-xl btn-outline-light">Show images</button>
      </div>-->
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="portfolio">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">What Your Choise</h2>
           </div>
      </div>

        <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            
          <img class="img-fluid" src="{% static 'discover/add/img/portfolio/birthday.jpg' %}" alt="">
          </span>
          <h4 class="service-heading">Birthday Picture</h4>
          
        </div>



        
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            
          <img class="img-fluid" src="{% static 'discover/add/img/portfolio/college.jpg' %}" alt="">
          </span>
          <h4 class="service-heading">College Picture</h4>
         
        </div>
    


        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            
          <img class="img-fluid" src="{% static 'discover/add/img/portfolio/party.jpg' %}" alt="">
          </span>
          <h4 class="service-heading">Party Picture</h4>
          
        </div>
        

        
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            
          <img class="img-fluid" src="{% static 'discover/add/img/portfolio/wedding.jpg' %}" alt="">
          </span>
          <h4 class="service-heading">Wedding Picture</h4>
        </div>

        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            
          <img class="img-fluid" src="{% static 'discover/add/img/portfolio/fastival.jpg' %}" alt="">
          </span>
          <h4 class="service-heading">Fastival Picture</h4>
        </div>

        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            
          <img class="img-fluid" src="{% static 'discover/add/img/portfolio/dare.jpg' %}" alt="">
          </span>
          <h4 class="service-heading">Daring Picture</h4>
        </div>


      </div>  
      
  </section>

  <!-- About Section -->
  <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead"> No more lost files. saved and backrd up in real time. Easily store.Find and access your file wherever you are-now faster and easier.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Safely store your picture and access them from anywhere. Search for files by name and content. Quickly view your content. See file details and activity. we're simplifying the way you manage the picture </p>
        </div>
      </div>
      
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Any Suggestion</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
         
          <form name="sentMessage" id="contactForm" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Name</label>
                <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email Address</label>
                <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Phone Number</label>
                <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Team Member</h4>
          <ul class="list-inline mb-0">
            <section class="portfolio" id="portfolio">
              <div class="container">
               
               
                <div class="row">
                 
                  
                  <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                      <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                         
                        </div>
                      </div>
                      <img class="img-fluid" src="{% static 'discover/add/img/portfolio/sweeti.jpg' %}" alt="">
                    </a>
                     <h5>Sweeti Pandit</h5>
                  </div>
                 
                  <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                      <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                      </div>  
                      </div>
                      <img class="img-fluid" src="{% static 'discover/add/img/portfolio/mansi.jpg' %}" alt="">
                    </a>
                    <h5>Mansi Ravi</h5>
                  </div>
                </div>
              </div>
            </section>
          </ul>
        </div>
        
      </div>
    </div>
  </footer>


  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small> made by global student</small>
    </div>
  </div>

  
  
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'discover/add/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'discover/add/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'discover/add/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'discover/add/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'discover/add/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'discover/add/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'discover/add/js/freelancer.min.js' %}"></script>

</body>

</html>
